<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ pageDescription }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    <link rel="preload" as="style" href="/assets/css/style.min.css" onload="this.rel='stylesheet'">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="preload" as="style" onload="this.rel='stylesheet'">
</head>
<body>
    {% include 'header.njk' %}
    <main>
        {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
    <script src="/assets/js/main.js"></script>
</body>
</html>